<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Natural sites' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

 <ion-content>
  <div class="background" >
    <div class="whitetext" *ngFor="let poi of PoiList" (click)="poiModal()">
      <p>{{poi.Name_fr}}</p>
    </div>
  </div>
</ion-content> 