<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Restaurant' | translate }} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="background" >
    <div class="whitetext" *ngFor="let menuitem of buvetteList">
      <p>{{menuitem.Name_fr}}</p>
      <p>{{menuitem.Price}} €</p>
    </div>
  </div>
</ion-content>  -->

<ion-content>
  <div class="background">
    <div class="whitetext">
      <table>
        <tr>
          <th>Plat</th>
          <th>Prix</th>
        </tr>
        <tr  *ngFor="let menuitem of buvetteList">
          <td>{{menuitem.Name_fr}}  </td>
          <td>{{menuitem.Price}}€  </td>
        </tr>
        
      </table>
    </div>
  </div>
</ion-content>


