<ion-header>
  <ion-toolbar> 
    <ion-title>{{ 'Menu.Contact' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background" >
    <div class="whitetext">
      <form>
        <ion-item>
          <ion-label>Nom</ion-label>
          <ion-input type="text" name="name"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="email" name="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-textarea name="message" style="height: 200px;"></ion-textarea>
        </ion-item>
      </form>
        <ion-button>Envoyer</ion-button>
    </div>
  </div>
  

</ion-content>

