<ion-header>
  <ion-toolbar>
    <ion-title>{{poi[0]?.Name_fr}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 10px;">
    <p>{{poi[0]?.Description_fr}}</p>
  </div>
</ion-content>