 
<ion-app>
  <ion-menu menuId="main-menu" content-id="main" id="id" > 
    <ion-header>
      <ion-toolbar > 
        <img (click)="setLangue('fr')" slot="end" src='../assets/icon/France.png' style="width: 30px; height: 30px; margin-right: 10px;"> 
        <img (click)="setLangue('en')" slot="end" src='../assets/icon/UK.png' style="width: 30px; height: 30px; margin-right: 5px;">  
      </ion-toolbar>
         </ion-header>
         <ion-content > 
           <ion-list> 
             <div class="img-furfooz">
               <ion-img src="../assets/img/Furfooz.jpg" style="height: 50%; width: 50%;" ></ion-img>
             </div>
             
             <ion-menu-toggle > 
               <ion-item [routerLink]="['/accueil' ]" routerLinkActive="active" > 
              <ion-icon name ="home-outline" slot="start">
             </ion-icon>
             <ion-label > {{'Menu.Home' | translate}} </ion-label>
            </ion-item>

               <ion-item [routerLink]="['/home']" routerLinkActive="active"> 
              <ion-icon name ="earth-outline" slot="start" >
              </ion-icon>
              <ion-label > {{'Menu.Map' | translate}} </ion-label>
            </ion-item>

            <ion-item [routerLink]="['/sites']" routerLinkActive="active"> 
              <ion-icon name ="leaf-outline" slot="start" >
              </ion-icon>
              <ion-label> {{'Menu.Natural sites' | translate}}</ion-label>
            </ion-item>

              <ion-item [routerLink]="['/flore']" routerLinkActive="active"> 
                <ion-icon name ="flower-outline" slot="start">
                </ion-icon>
                <ion-label> {{'Menu.Flora' | translate}} </ion-label>
              </ion-item>

              <ion-item [routerLink]="['/faune']" routerLinkActive="active"> 
                <ion-icon name ="paw-outline" slot="start">
                </ion-icon>
                <ion-label> {{'Menu.Fauna'| translate}} </ion-label>
              </ion-item>

                <ion-item [routerLink]="['/buvette']" routerLinkActive="active"> 
                  <ion-icon name ="fast-food-outline" slot="start">
                  </ion-icon>
                  <ion-label> La Flobette - {{'Menu.Restaurant'| translate}} </ion-label>
                </ion-item>
             
                <ion-item [routerLink]="['/horaires']" routerLinkActive="active"> 
                  <ion-icon name ="time-outline" slot="start">
                  </ion-icon>
                  <ion-label> {{'Menu.Schedule'| translate}} </ion-label>
                </ion-item>
               
              
               <ion-item [routerLink]="['/infos']" routerLinkActive="active"> 
                <ion-icon name ="information-circle-outline" slot="start">
                </ion-icon>
                <ion-label> {{'Menu.Info' | translate}}</ion-label>
              </ion-item>
              
            
             
             <ion-item [routerLink]="['/contact']" routerLinkActive="active"> 
              <ion-icon name ="mail-outline" slot="start">
              </ion-icon>
              <ion-label> {{'Menu.Contact'| translate}} </ion-label>
            </ion-item>


              </ion-menu-toggle>
            
           
             
            
          </ion-list>
         </ion-content>
  </ion-menu>
  
  
  <ion-router-outlet id="main"> </ion-router-outlet>
</ion-app>
