<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Info' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="background" >
    <p class="whitetext"> Bonjour et bienvenue dans le domaine de Furfooz ereakrhaekrhaejhrejarhajer

    </p>
  </div>
  

</ion-content>