<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Flora' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="background" >
    <div class="whitetext" *ngFor="let poi of PoiList">
      <p>{{poi.Name_fr}}</p>
    </div>
  </div>
</ion-content> 
