<ion-header>
  <ion-toolbar>
    <ion-title>Points of interest </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background" >
    <p class="whitetext"><ion-item *ngFor="let location of EventList">
    <ion-avatar item-left>
        <ion-icon name="navigate"></ion-icon>
    </ion-avatar>
       <p>{{location.Name_fr}} - {{location.Distance}}m</p>
  </ion-item> </p>
  </div>
  

  
</ion-content>
