<!--  -->

<!-- <ion-content [fullscreen]="true">
 <div id="myMap" style="width:100%;height:80%"> </div>
 <ion-button (click)="getPositions()"> Show marker </ion-button>
</ion-content> -->

<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Map' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <div id="myMap" style="width: 100%; height: 100%;">

  </div>
  

</ion-content>
      <ion-footer>
        <div style="height: 50px;">
          <ion-content>
            
            <ion-slides pager="false" [options]="slideOpts">
              <ion-slide>
                <ion-button fill="clear" (click)="SeeAllMarkers()" >
                  <ion-icon name="funnel"></ion-icon>
                  <p>Tout</p>
                </ion-button>
              </ion-slide>
              <ion-slide *ngFor="let category of CategoryPoiList">
                <ion-button fill="clear" (click)="RemoveAllMarkers(category.Id)" >
                  <ion-icon name="funnel"></ion-icon>
                  <p style="font-size: 14px;">{{ category.Name_fr }} 
                   </p>
                </ion-button>
              </ion-slide>
            </ion-slides>
          </ion-content>
        </div>
        
        <ion-toolbar> 
          <ion-button color="success" style="width:100%;height: 56px;margin: 0;" (click)="presentModal()">Show marker</ion-button>
        </ion-toolbar>
      </ion-footer> 

      