<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Home' | translate }} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="background" >
    <div class="img-container">

      <img class="img" src="/assets/img/Furfooz.jpg">
    </div>
    <div class="whitetext">
      <h4>Balade en terre de nature et d’histoire </h4>
      <p>
        Situé dans la vallée de la Lesse, non loin de Dinant, aux portes de l’Ardenne, le parc de Furfooz vous invite à la  découverte d’un patrimoine archéologique, naturel, géologique à travers une balade familiale d’environ 4 km.
      </p>
      <h4>A faire en famille</h4>
      <p>
          Le parc de Furfooz convient particulièrement bien aux promenades en famille. Très diversifiée de par les milieux traversés (forêt, pelouses, rives de la Lesse,..;), la balade nature serpente au gré des 15 éléments remarquables du parc d’une contenance de 50 hectares qui satisferont petits et grands.  Une petite pause savoureuse à la buvette du parc, intitulée La Flobette, est possible le long de la Lesse.  N’oubliez pas l’appareil photo…
      </p>          
      <h4>Furfooz, un petit coin de Provence</h4>
      <p>
        Si l’on s’attarde du côté nature, les parois rocheuses et bien ensoleillées accueillent aussi des plantes assez intéressantes typiques des coteaux calcaires ensoleillés. De quoi satisfaire de nombreux insectes. Le site est d’ailleurs entretenu par des moutons. Le parc est aussi une réserve naturelle agréée reconnue par la Région wallonne et unique en Belgique.
      </p>  
      <h4> Un patrimoine exceptionnel</h4>        
      <p>
        Du coté historique, le massif de Furfooz a été occupé sans interruption depuis l’époque préhistorique (grottes) jusqu’à l’époque médiévale (plateau). En effet, au fil du temps, la Lesse a creusé tout le massif rocheux en laissant multitude de grottes, cavernes, trous,… Celles-ci ont été occupées par l’homme depuis des millénaires (- 14.000 ans env). La plupart de ces grottes et trous sont aujourd’hui visitables et portent des noms particuliers : Trou du grand Duc, Puits des Vaux, Trou qui Fume,… On peut aussi voir le départ du bras souterrain de la Lesse. Patrimoine archéologique très riche puisqu’ on y a retrouvé de nombreux objets permettant de retracer l’occupation des lieux au cours du temps. Plus proche de nous, une forteresse ainsi que des thermes ont été érigés à la fin de l’époque romaine. De cela, il ne reste que les ruines. Les thermes ont cependant été entièrement reconstruit en 1958, ce monument grandeur nature vaut à lui seul la visite !
      </p>          
    </div>
          </div>
</ion-content>