<ion-header>
  <ion-toolbar> 
    <ion-title> {{ 'Menu.Schedule' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">  </ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="background">
    <div class="whitetext">
      <table>
        <tr>
          <td></td>
          <td>Semaine</td>
          <td>Week-end</td>
        </tr>
        <tr>
          <td>Janvier</td>
          <td>Fermé</td>
          <td>Fermé</td>
        </tr>
        <tr>
          <td>Février</td>
          <td>Fermé</td>
          <td>Fermé</td>
        </tr>
        <tr>
          <td>Mars</td>
          <td>Réservation</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Avril</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Mai</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Juin</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Juillet</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Août</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Septembre</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Octobre</td>
          <td>10h - 17h</td>
          <td>10h - 17h</td>
        </tr>
        <tr>
          <td>Novembre</td>
          <td>Fermé</td>
          <td>Fermé</td>
        </tr>
        <tr>
          <td>Décembre</td>
          <td>Fermé</td>
          <td>Fermé</td>
        </tr>
      </table>
    </div>
  </div>
  

</ion-content>
